<div class="min-h-screen flex">
  <div class="flex-1 px-8 flex items-center justify-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="pb-8">
        <h2 class="pb-1 text-4xl">Sign up</h2>
        <span class="font-light text-sm">If you already have an account, please <%= render "devise/shared/links" %></span>
      </div>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= render partial: "user_fields", locals: { f: f } %>
      <div class="flex flex-col pb-6">
        <%= f.label :email, class: "pb-1" %>
        <%= f.email_field :email, class: "py-1 rounded border-solid border-gray-300 border-1" %>
      </div>
      <div class="flex flex-col pb-6">
        <%= f.label :password, class: "pb-1" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "py-1 rounded border-solid border-gray-300 border-1" %>
      </div>
      <div class="flex flex-col pb-6">
        <%= f.label :password_confirmation, class: "pb-1" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "py-1 rounded border-solid border-gray-300 border-1" %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up", class: "w-full px-5 py-3 rounded bg-sky-500 text-white hover:bg-sky-600 hover:cursor-pointer" %>
      </div>
    <% end %>
  </div>
  <div class="flex-1 bg-gradient-to-b from-sky-400 to-sky-700">
    <h1 class="pt-32 text-center text-5xl">HelpingDesk</h1>
    <h2 class="pt-4 text-center">Provide excellent support to your clients with a simple and lightweight IT ticketing system!</h2>
  </div>
</div>