<div class="flex min-h-screen bg-gray-100">
  <%= render MenuComponent.new %>
  <div class="w-full">
    <%= render ToolbarComponent.new(title: "Roles") %>
    <div class="w-3/5 m-auto px-6 rounded bg-white">
      <div class="pt-4 pb-8">
          <%= link_to "New role", new_role_path, class: "px-2 py-1 rounded bg-sky-500 text-white hover:bg-sky-600" %>
      </div>
      <div class="pb-4">
          <% @roles.each do |role| %>
            <div class="pb-2">
              <%= link_to "#{role.name}", role_path(role), class: "text-blue-400 hover:text-blue-500 cursor-pointer" %>
              <%= content_tag(:span, role.code, class: "text-xs") %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
