<% if current_user %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete %>
<% end %>

<% if current_user&.administrator? %>
    <%= button_to "Admin", admin_screens_path %>
<% end %>

<div class="flex min-h-screen bg-gray-50">
<aside class="w-64 border-solid border-r-2 border-black flex flex-col">
  <h1 class="py-8 px-6 text-2xl">HelpingDesk</h1>
  <div class="flex flex-col text-lg flex-grow">
    <%= link_to "Dashboard", root_path, class: "py-2 px-6 w-full #{current_page?(root_path) ? 'bg-sky-500 text-white' : 'text-sky-700 hover:bg-sky-100'}" %>
    <%= link_to "Tickets", "#", class: "py-2 px-6 w-full text-sky-700 hover:bg-sky-100" %>
    <%= link_to "Reports", "#", class: "py-2 px-6 w-full text-sky-700 hover:bg-sky-100" %>
    <%= link_to "Logout", "#", class: "py-2 px-6 w-full text-sky-700 hover:bg-sky-100" %>
    <%= link_to "Admin", "#", class: "py-2 px-6 w-full text-sky-700 hover:bg-sky-100 mt-auto pb-64" %>
  </div>
</aside>
    <div class="">
        Main content
    </div>
</div>