<!DOCTYPE html>
<html>
  <head>
    <title>HelpingDesk</title>
    <%= favicon_link_tag asset_path('ticket-solid.svg') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/33dd5b12e7.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <div class="notice text-black bg-sky-500"><%= notice %></div>
      <div class="alert text-black bg-sky-500"><%= alert %></div>
      <%= yield %>
    </main>
  </body>
</html>
